<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Test Widgets </title>
    {{! Font-Awesome core CSS }}
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
    {{! Bootstrap core CSS }}
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    {{! JQuery core JS }}
    <script src="/jquery/dist/jquery.min.js"></script>
    {{! Bootstrap core JS }}
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    {{! Виджет кнопки прокрутки }}
    {{> widgets/btn-info}}
</body>

</html>